body {
    background: linear-gradient(135deg, #667eea, #764ba2);
    font-family: "Segoe UI", sans-serif;
}

/* Card principal */
.app-card {
    background: #ffffff;
    padding: 30px;
    border-radius: 20px;
    width: 100%;
    max-width: 420px;
}

/* Color box */
#colorBox {
    height: 160px;
    border-radius: 15px;
    border: 2px solid #000;
    background-color: rgb(0, 0, 0);
    transition: background-color 0.3s ease;
}

/* Picker */
.color-picker {
    width: 80px;
    height: 50px;
    border: none;
    cursor: pointer;
}

/* Inputs */
.number-input {
    max-width: 80px;
    text-align: center;
    font-weight: 600;
}

/* Sliders con color */
.red-range::-webkit-slider-thumb {
    background: red;
}

.green-range::-webkit-slider-thumb {
    background: green;
}

.blue-range::-webkit-slider-thumb {
    background: blue;
}
